.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border: 2px solid #f30d0d;
    max-height: 20%;

  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .company-info {
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
  }

  .thanks-section {
    flex: 1;
    text-align: center;
  }

  img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
    }
  }

  