.product-details {
  max-width: 1200px;
  margin: 0 auto;
}

.product {
  margin-bottom: 20px;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
}

.product-image {
  text-align: center;
}

.product-form {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #ddd;  
  background-color: #f9f9f9; 
  width: 50%
}

.product-form-2 {
  margin-top: 80px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9; 
  width: 90%;
  margin-left: auto;  
}

button {
  background-color: #f30d0d;;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a56e83;
}


@media screen and (min-width: 768px) {
  .product-detail-container {
    flex-direction: row;
  }

  .product-image {
    margin-right: 20px;
  }
}

