.categories {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.categories button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.categories button:hover {
  background-color: #45a049;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  
}

.product-item {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.red-button {
  background-color: red;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.red-button:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .products {
    grid-template-columns: 1fr; 
  }
}